{# Record delete template. #}
{% extends "jumbotron_form.html" %}

{% block title %}Confirmation{% endblock %}
{% block jumbotron_title %}Confirm Delete{% endblock %}
{% block jumbotron_content %}
    <p>Are you sure you want to delete record: "{{ record }}"?</p>
{% endblock %}
{% block form_button %}
    <form method="POST">
        {% csrf_token %}
        <button class="submit-btn" type="submit">Confirm Delete</button>
        <a class="submit-btn" href="{% url 'records:index' %}">Cancel</a>
    </form>
{% endblock %}
