/* Jumbotron standardized styling. */

/* Jumbotron styling. */
.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
    border-radius: .3rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.15);
    text-align: center;
    max-width: 600px;
    margin: 2rem auto auto;
}

/* H2 tag styling class. */
.medium-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Error messages. */
.errors {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    padding: 1rem;
    border-radius: .25rem;
}

/* Unordered error message list. */
.error-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Form text. */
.form-group {
    margin-bottom: 1rem;
}

/* Submit button class. */
.submit-btn {
    background-color: #219EBC;
    color: white;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* Submit button class animation. */
.submit-btn:hover {
    background-color: #FFB703;
}
